@import 'bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* ビューポートの高さに合わせる */
  position: relative; /* 動画を正しく配置するための相対位置指定 */
  z-index: 1; /* 動画より上に配置 */
  background-color: #f8f8f8; /* コンテナの背景色を薄いグレーに設定 */
  margin-top: -50px; /* 上に50px移動させる */
}

#signup-video, #login-video, #post-form-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1; /* コンテンツの背後に動画を配置 */
}

/* フォームコンテンツスタイル */
.signup-content, .login-content {
  padding: 30px; /* パディングを増やす */
  border-radius: 15px; /* 角を丸くする */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 影を強調 */
  max-width: 500px; /* 最大幅を大きくする */
  z-index: 2; /* 動画より前面に配置 */
  margin: auto; /* 中央揃え */
  background-color: #fff; /* フォームの背景色を白に設定 */
}

/* タイトルスタイル */
.signup-title, .login-title {
  color: #ff79c6; /* ピンクのタイトル */
  text-align: center;
  font-family: 'Press Start 2P', cursive; /* ピクセルフォント */
  font-size: 25px; /* タイトルのフォントサイズを大きく */
}

/* 入力フィールドスタイル */
.input {
  width: 100%;
  padding: 15px; /* パディングを増やす */
  border-radius: 5px; /* 角を少し丸くする */
  border: 2px solid #ccc; /* ボーダーを太く */
  font-family: 'Press Start 2P', cursive; /* ピクセルフォント */
  font-size: 16px; /* フォントサイズを大きく */
}

/* パスワード長さヒントスタイル */
.password-length {
  font-family: 'Press Start 2P', cursive; /* ピクセルフォント */
  color: #719bad;
  font-size: 10px; /* サイズを小さく */
}

/* フィールドスタイル */
.field {
  margin-bottom: 20px; /* マージンを増やす */
}

/* ラベルスタイル */
.label {
  font-family: 'Press Start 2P', cursive; /* ピクセルフォント */
  color: #0073a8;
  font-size: 16px; /* フォントサイズを大きく */
}

/* ボタンスタイル */
.signup-button, .login-button {
  font-family: 'Press Start 2P', cursive; /* ピクセルフォント */
  background-color: #ff79c6;
  color: white;
  border: 2px solid black; /* ピクセル風のボーダー */
  border-radius: 0; /* 角を丸くしない */
  padding: 8px 16px;
  text-transform: uppercase; /* 大文字に変換 */
  font-size: 16px; /* 小さめのフォントサイズ */
  cursor: pointer;
  transition: all 0.3s ease; /* スムーズなホバーエフェクト */
}

/* ホバー時のボタンスタイル */
.signup-button:hover, .login-button:hover {
  background-color: #ff92d0; /* 明るいピンク */
  transform: scale(1.1); /* 少し大きく */
}


.game-header {
  background-color:#0073a8; 
  padding: 0.5rem;
  font-family: 'DotGothic16', cursive;
  color: #ff79c6;
  width: 100%;
  box-sizing: border-box;
  z-index: 10; /* 他の要素より前に表示 */
  position: fixed;
  top: 0;
  left: 0;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo a {
  color: #ff79c6;
  text-decoration: none;
  font-size: 2rem; /* ロゴのフォントサイズを調整 */
  font-family: 'Press Start 2P'
}

.header-nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.header-nav a {
  color: #ff79c6;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border: 2px solid #ff79c6;
  font-size: 1rem; /* ナビゲーションリンクのフォントサイズを調整 */
}

.header-nav a:hover {
  background-color: #ff79c6;
  border-color: #ffffff;
  color: #ffffff;
  transform: scale(1.1);
}

.game-footer {
  background-color: #0073a8; 
  color: #ffffff;
  text-align: center;
  padding: 1.0rem 0;
  position: fixed; 
  bottom: 0; 
  left: 0; 
  width: 100%; 
  box-sizing: border-box; 
  z-index: 10; 
}

.footer-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.footer-link {
  color: #ff79c6;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border: 2px solid #ff79c6;
  font-size: 1rem;
  font-family: 'DotGothic16', sans-serif;
}

.footer-link:hover {
  background-color: #ff79c6;
  color: #ffffff;
  border-color: #ffffff;
}

.video-background {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

#posts-background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.posts {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 20px;
  padding: 20px;
  max-width: 800px; 
}

.post {
  padding: 20px;
  background-color: #f0f0f0;
  border: 2px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.post h3 {
  font-family: 'DotGothic16', sans-serif;
  color: #ff79c6;
  text-align: center;
  font-size: 1.5rem;
}

.post p {
  font-family: 'DotGothic16', sans-serif;
  font-size: 1rem;
  color: #333;
  line-height: 1.4;
}

.post p:nth-child(3) {
  font-size: 0.9rem;
  color: #0073a8;
  text-align: right;
}

.post p:nth-child(4) {
  font-size: 0.8rem;
  color: #ff79c6;
  text-align: right;
}

.post p:nth-child(5) {
  font-size: 0.8rem;
  color: #719bad;
  text-align: right;
}

@media (max-width: 768px) {
  .posts {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .posts {
    grid-template-columns: 1fr;
  }
}
