@import 'bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');
@import "simple_calendar";

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: auto;
  position: relative; 
  z-index: 1;
  background-color: #f8f8f8;
  margin-top: -50px;
  overflow-y: auto;
  padding-top: 120px;
  padding-bottom: 100px;
}

#signup-video, #login-video, #post-form-video, #posts-background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}
.signup-content, .login-content {
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 500px;
  z-index: 2;
  margin: auto;
  background-color: #fff;
}

/* タイトルスタイル */
.signup-title, .login-title {
  color: #ff79c6;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  font-size: 25px;
}

.input {
  width: 100%;
  padding: 15px;
  border-radius: 5px;
  border: 2px solid #ccc;
  font-family: 'DotGothic16', cursive;
  font-size: 16px;
}

.password-length {
  font-family: 'Press Start 2P', cursive;
  font-size: 10px;
}

.field {
  margin-bottom: 20px;
}

.label {
  font-family: 'Press Start 2P', cursive;
  color: #0073a8;
  font-size: 16px;
}

.signup-button, .login-button {
  font-family: 'Press Start 2P', cursive;
  background-color: #ff79c6;
  color: white;
  border: 2px solid black;
  border-radius: 0;
  padding: 8px 16px;
  text-transform: uppercase;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.signup-button:hover, .login-button:hover {
  background-color: #ff92d0;
  transform: scale(1.1);
}

.game-header {
  background-color:#0073a8; 
  padding: 0.5rem;
  font-family: 'DotGothic16', cursive;
  color: #ff79c6;
  width: 100%;
  box-sizing: border-box;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo a {
  color: #ff79c6;
  text-decoration: none;
  font-size: 2rem;
  font-family: 'Press Start 2P'
}

.header-nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.header-nav a {
  color: #ff79c6;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border: 2px solid #ff79c6;
  font-size: 1rem;
}

.header-nav a:hover {
  background-color: #ff79c6;
  border-color: #ffffff;
  color: #ffffff;
  transform: scale(1.1);
}

.header-nav {
  display: flex;
}

.header-nav.hidden {
  display: none;
}

.game-footer {
  background-color: #0073a8; 
  color: #ffffff;
  text-align: center;
  padding: 1.0rem 0;
  position: fixed; 
  bottom: 0; 
  left: 0; 
  width: 100%; 
  box-sizing: border-box; 
  z-index: 10; 
}

.footer-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.footer-link {
  color: #ff79c6;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border: 2px solid #ff79c6;
  font-size: 1rem;
  font-family: 'DotGothic16', sans-serif;
}

.footer-link:hover {
  background-color: #ff79c6;
  color: #ffffff;
  border-color: #ffffff;
}

.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; 
  overflow: hidden;
}

.post-form-content {
  position: relative;
  z-index: 2;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.posts {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 50px;
  padding: 70px;
  max-width: 1600px; 
}

.post {
  padding: 50px;
  background-color: #f0f0f0;
  border: 2px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 3px 7.5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  margin-bottom: 20px;
}

.post h3 {
  font-family: 'DotGothic16', sans-serif;
  color: #ff79c6;
  text-align: center;
  font-size: 2rem;
}

.post p {
  font-family: 'DotGothic16', sans-serif;
  font-size: 1.2rem;
  color: #333;
  line-height: 1.4;
}

.post p:nth-child(3) {
  font-size: 0.9rem;
  color: #0073a8;
  text-align: right;
}

.post p:nth-child(4) {
  font-size: 0.8rem;
  color: #ff79c6;
  text-align: right;
}

.post p:nth-child(5) {
  font-size: 0.8rem;
  color: #719bad;
  text-align: right;
}

body {
  font-family: 'DotGothic16', sans-serif;
  background-color: #f8f8f8;
}

.card {
  max-width: 200%;
  border-radius: 1rem;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.card-img-top {
  height: 600px;
  object-fit: cover;
  width: 100%;
}

.card-body {
  padding: 2rem;
  background-color: #fff;
}

.card-title {
  font-size: 2rem;
  color: #ff79c6;
  font-family: 'DotGothic16', cursive;
}

.card-text {
  font-size: 1.25rem;
  color: #333;
}

.text-muted {
  color: #719bad;
}

.comments-section h2 {
  font-family: 'DotGothic16', cursive;
  color: #ff79c6;
}

.comments-section .card {
  margin-bottom: 1rem;
  background-color: #ffeff6; 
}

.comments-section .card-body {
  border-radius: 0.5rem;
}

.comment-form {
  margin-top: 2rem;
}

.comment-form input,
.comment-form textarea {
  border-radius: 0.5rem;
  border: 2px solid #ff79c6;
}

.comment-form button {
  background-color: #ff79c6; 
  color: white;
  border-radius: 0.5rem; 
  padding: 0.5rem 1rem;
  border: none;
}

.comment-form button:hover {
  background-color: #ff92d0;
}

.search-form {
  font-family: 'DotGothic16', cursive;
  background: #fff;
  border: 3px solid #ff79c6;
  padding: 0.5em;
  border-radius: 0.5em;
  box-shadow: 3px 3px #ccc;
  margin: 1em 0;
  display: inline-block;
}

.search-form input[type="text"] {
  border: 2px solid #ff79c6;
  background: #f9f9f9;
  color: #333;
  padding: 0.5em;
  border-radius: 0.5em;
}

.search-button {
  font-family: 'DotGothic16', cursive;
  background-color: #ff79c6;
  color: white;
  padding: 0.5em 1em;
  border: none;
  border-radius: 0.5em;
  box-shadow: 2px 2px #ccc;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  margin: 0;
  width: auto;
}

.search-button:hover {
  background-color: #ff92d0;
  box-shadow: 3px 3px #bbb; 
}

.user-profile-content {
  position: relative;
  z-index: 2;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.user-profile {
  display: flex;
  justify-content: space-around;
  font-family: 'DotGothic16', sans-serif;
  color: #ff79c6;
  background-color: #f0f0f0;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 600px;
  margin: auto;
}

.user-info {
  flex: 1;
}

.user-name, .user-email, .user-level {
  font-size: 28px;
  color: #0073a8;
}

.user-profile-image {
  flex-shrink: 0;
  text-align: center;
}

.user-profile-image img {
  max-width: 150px;
  height: auto;
  object-fit: cover;
  border: 6px solid #ff79c6;
  border-radius: 50%;
}

.hidden {
  display: none;
}

.calendar-container {
  justify-content: center;
  align-items: center;
  width: 200%; 
  overflow-x: auto; 
}

.simple-calendar {
  font-family: 'DotGothic16', sans-serif; 
  color: #333;
  background-color: #fff; 
  box-shadow: 0 2px 10px rgba(0,0,0,0.1); 
  border-radius: 8px; 
  padding: 40px; 
  margin-top: 40px; 
}

.calendar-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px; 
}

.calendar-heading a {
  color: #0073a8; 
  text-decoration: none; 
  background-color: #ff79c6; 
  padding: 16px 32px; 
  border-radius: 8px; 
  font-weight: bold;
  transition: background-color 0.3s; 
}

.calendar-heading a:hover {
  background-color: #ff92d0; 
}

.calendar-title {
  font-size: 24px; 
  color: #ff79c6; 
  text-align: center;
}

.table {
  width: 100%; 
  border-collapse: collapse; 
}

th, td {
  text-align: center;
  padding: 20px 10px; 
  border-bottom: 2px solid #ddd; 
}

th {
  text-align: center!important;
  background-color: #0073a8; 
  color: #ff79c6; 
  font-size: 16px; 
  padding: 10px;  
}

td {
  background-color: #f0f0f0; 
  padding: 10px; 
  text-align: center;
}

pre, code {
  background-color:  #eec0e8;
  border: 1px solid #ccc; 
  padding: 1px; 
  border-radius: 3px; 
  overflow-x: auto; 
}

.level-up-gauge {
  display: flex;
  gap: 2px;
  margin-bottom: 20px;
}

.gauge-block {
  width: 20px;
  height: 20px;
  background-color: #ccc; /* 空のブロックの色 */
  border: 1px solid #000; /* ドット絵風にするための枠線 */
}

.gauge-block.filled {
  background-color: #00ff00; /* 埋められたブロックの色 */
}

@media (max-width: 768px) {
  .header-nav {
    display: none; 
  }

  .header-nav:not(.hidden) {
    display: flex; 
    flex-direction: column; 
    position: absolute; 
    top: 100%; 
    left: 0;
    width: 100%; 
    background-color: #fff; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 

  .calendar-heading span {
    justify-content: center;
    font-size: 20px; 
  }
  }

  .posts {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .posts {
    grid-template-columns: 1fr;
  }
}
