@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.game-header {
  background-color: #0d080d; /* ダークな背景色 */
  padding: 0.5rem 1rem;
  font-family: 'Press Start 2P', cursive;
  color: #ffffff;
  z-index: 10; /* 他の要素より前に表示 */
  position: relative; /* z-indexを効かせるためのポジション設定 */
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.5rem; /* ロゴのフォントサイズを調整 */
}

.header-nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.header-nav a {
  color: #4ecdc4; /* 明るめのシアン色 */
  text-decoration: none;
  padding: 0.2rem 0.5rem;
  border: 2px solid #4ecdc4; /* ボーダーをシアン色に */
  font-size: 0.8rem; /* ナビゲーションリンクのフォントサイズを調整 */
}

.header-nav a:hover {
  background-color: #7b8c7c; /* ホバー時の背景色 */
  border-color: #ffffff; /* ホバー時のボーダー色 */
  color: #ffffff;
  transform: scale(1.1); /* ホバー時に少し大きく */
}
