<% @cats.each do |cat| %>
  <li class="list-group-item d-flex align-items-center justify-content-between py-2 px-3 rounded text-secondary" role="option" data-autocomplete-value="<%= cat.id %>" data-autocomplete-label="<%= cat.name %>">
    <%= cat.name %>
  </li>
<% end %>
