<header class="game-header">
  <div class="header-container">
    <div class="header-logo">
      <a href="/">Fail Share</a>
    </div>
    <nav class="header-nav">
      <ul>
        <li><a href="#">投稿作成</a></li>
        <li><%= link_to '失敗投稿一覧', posts_path %></li>
        <li><a href="#">ランキング</a></li>
        <li><a href="#">マイページ</a></li>
      </ul>
    </nav>
  </div>
</header>
